<launch>
  <group ns="november">
    <node pkg="nodelet"
      type="nodelet"
      name="quad_serial_comm"
      args="standalone quad_serial_comm/QuadSerialComm"
      output="screen">
      <param name="device" value="/dev/ttyUSB0"/>
      <param name="baud_rate" value="230400"/>
      <remap from="~to_robot" to="serial_msg"/>
      <remap from="~from_robot" to="robot_serial"/>
    </node>
  </group>
</launch>
