<launch>
  <node pkg="vicon"
    type="vicon"
    name="vicon"
    output="screen">
    <param name="calib_files_dir" value="$(find vicon)/calib"/>
  </node>

  <group ns="ppr">
    <include file="robot_ppr.xml">
      <arg name="vicon_name" value="Quadrotor_PPR_PEEK3"/>
      <arg name="vicon_fps" value="100.0"/>
      <arg name="mass" value="0.041"/>
    </include>
  </group>
</launch>
