<?xml version="1.0"?>
<launch>

    <node name="nano_quad" pkg="nano_quad" type="controller" output="screen">
<!--		<param name="kpx" value="0.4"/>
		<param name="kpy" value="0.4"/>
		<param name="kpz" value="0.4"/>
		<param name="kproll" value="0.4"/>
		<param name="kppitch" value="0.4"/>
		<param name="kpyaw" value="0.4"/>

		<param name="kdx" value="0.2"/>
		<param name="kdy" value="0.2"/>
		<param name="kdz" value="0.2"/>
		<param name="kdroll" value="0.2"/>
		<param name="kdpitch" value="0.2"/>
		<param name="kdyaw" value="0.2"/>

		<param name="kix" value="0.01"/>
		<param name="kiy" value="0.01"/>
		<param name="kiz" value="0.01"/>
		<param name="kiroll" value="0.01"/>
		<param name="kipitch" value="0.01"/>
		<param name="kiyaw" value="0.01"/>

		<param name="gx" value="0.0"/>
		<param name="gy" value="0.0"/>
		<param name="gz" value="0.5"/>
		<param name="groll" value="0.0"/>
		<param name="gpitch" value="0.0"/>
		<param name="gyaw" value="0.0"/>-->
    </node>

  <!-- run vicon bridge -->
  <include file="$(find vicon_bridge)/launch/vicon.launch"/>

</launch>
